.modifyTopGrid .rt-tbody {
  height:200px;
  justify-content: flex-start;
  flex: 1 1 auto;
  position: relative; /* need this to position inner content 4*/
}
.modifyTopGrid .rt-tr-group {
  min-height:25px;
  max-height: 85px;
}
.modifyTopGrid .rt-thead {
  flex: 0 0 auto;
}
.titleButtons {
  display: inline-block;
  width: 85%;
}