.filter-placement {
  margin-top: 24px;
}
.table-uploadMetric .rt-table, .table-uploadMetric .rt-tbody .rt-td, .table-uploadMetric .rt-tbody {
  overflow: visible !important;
}
.table-uploadMetric .rt-tbody {
  height: 100px !important;
}
.box.box-primary {
  padding:5px 10px 15px 10px;
}
