#intro1 {
    background: #ededed;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.rowNew {
    margin-top: -15px;
    margin-bottom: 15px;
}

.summary1 {
    margin-right: 0px;
    margin-left: 0px;
}
