$text-color: #000;
$background-color: #fff;
$text-input-highlight-color-valid: #394857;
$segment-button-md-height: 4.5rem;
$fab-mini-size: 30px;
$primary: #394857;
$secondary: #ffffff;
$nv-red: #ff3300;
$nv-green: #008000;
$nv-orange: #EFA315;
$nv-gray: #606060;
$nv-lt-gray: #747f89;
$light: #DEDEDE;
$nv-blue: #0099ff;
$nv-lt-blue: #3399ff;
$dark: #333333;
$nv-lt-dark: #5c5c5c;
$nv-yellow: #FFFFCC;
$nv-orange: #ff9900;
$menu-bg-dark: #222d32;
$submenu-bg-gray: #E4E4E4;
$theme-primary: #438EB9;
$theme-blue: #0460a9;
$menu-bg-darkblue: #03487f;
$grid-title-bg: #175D9D;
$border-light-blue: #9abfdc;
$submenu-bg-blue: #cddfee;
$theme-gray: #ccc;
@import 'utils';
@import 'globals';
