.succMsg {
  color: #ff3300 !important;
  text-align: center;
}
.metrcisSelected div {
  line-height: 33px !important;
  min-height: 35px;
}
.log-in-logo {
  width: 200px;
  margin: 0 auto 20px;
}
.r-ss-trigger .r-ss-selected-label {
  width: auto !important;
}
.form-field {
  margin: 15px 0;
}
