.gClass {
    isolation:isolate;
}
.blendMode {
    mix-blend-mode:multiply;
}
body {
    background-color: #B4CEE5 !important;
}
.loginWrapp .app-wrapper {
    padding-top: 0px !important;
}
.skin-blue .wrapper {
    background: transparent !important;
}
.errorMessage {
color: #f52929 !important;
}